/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuração do corpo da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Estilo do cabeçalho */
header {
    background-color: #f6f4f0;
    color: #5f2323;
    padding: 10px 0;
    text-align: center;
}

header .logo img {
    width: 100px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #a02929;
    text-decoration: none;
}

/* Estilo da seção de produtos */
.produtos-section {
    padding: 50px 0;
    text-align: center;
    background-color: #fff;
}

.produtos-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.produto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.produto:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imagem-produto {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.info-produto {
    padding: 15px;
}

.nome-produto {
    font-size: 20px;
    font-weight: bold;
}

.preco-produto {
    color: #e74c3c;
    font-size: 18px;
    margin: 10px 0;
}

.descricao-produto {
    font-size: 14px;
    color: #555;
}

.avaliacao .estrela {
    color: gold;
    font-size: 16px;
}

.ver-detalhes {
    display: block;
    margin-top: 10px;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.ver-detalhes:hover {
    text-decoration: underline;
}

/* Estilo dos comentários */
.comentarios {
    background-color: #f9f9f9;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.comentarios h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.comentarios p {
    font-size: 14px;
    color: #555;
}

/* Estilo do rodapé */
footer {
    background-color: #f6f4f0 ;
    text-align: center;
    padding: 20px 0;
}

footer .redes-sociais {
    margin-top: 10px;
}

footer .redes-sociais a {
    margin: 0 10px;
}

footer .redes-sociais img {
    width: 30px;
    height: 30px;
}

nav ul li a img {
    width: 20px;  /* Ajuste o tamanho da imagem */
    height: auto;
    margin-right: 8px;
}
